html,
body {
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;/*IE10*/
  -khtml-user-select:none;
  user-select:none;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;

}

.home .hero img {
  cursor: pointer;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 0 5px 20px #ccc;
}

.home .footer {
  padding: 1.5rem;
}